/backend/.gradle
/backend/build/
/backend/src/main/resources/application.yaml
infrastructure/.env
/.idea/
*.iws
*.iml
*.ipr
backend/out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/


/frontend/node_modules
/frontend/.pnp
/frontend.pnp.js
/frontend.yarn/install-state.gz
/frontend.env
# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build